.venv/
.idea/
.DS_Store
__pycache__/
*.pyc

# large datasets
supervised-learning/classification/spam-ham/databases/db.csv
supervised-learning/classification/spam-ham/databases/results.csv
financial/long-term/datasets/
financial/scalping/datasets/
core/datasets/

# website runtime
supervised-learning/regression/house-price/uploads/
supervised-learning/regression/house-price/app.py
supervised-learning/regression/house-price/templates/

# large files (>50MB)
supervised-learning/regression/house-worker/datasets/workers.csv
supervised-learning/classification/health-lab/datasets/synthetic_patients.csv
supervised-learning/classification/diabetes/model/diabetes-model.pkl
supervised-learning/regression/house-worker/
